	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3 class="text-center">
				The list of my ideas.
			</h3>
			<blockquote class="pull-right">
				<p>
				  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
				</p> 
				<small>Someone famous Source Title <cite><cite></small>
			</blockquote>
		</div>
	</div>
