<table class="table">
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>
							Idea
						</th>
						<th>
							votes
						</th>
						<th>
							Submission date
						</th>
						<th>
						<i class="glyphicon glyphicon-plus-sign"></i>						
						</th>
					</tr>
				</thead>
				<tbody>
					
				</tbody>
			</table>
